In [10]:
#You can use python like a calculator
2+3

5

In [11]:
# Comments starts with a hash 
# You can define different type of variables
x = 2
name = "Python"
price = 4.5

#To print a value use print
print(x)
print(name)
print(price)

2
Python
4.5

In [12]:
#Operate upon these variables
y = x + 4
print(y)

fullname = name + " Language"
print(fullname)

amount = price*x
print(amount)

6
Python Language
9.0

In [13]:
#Define complex expressions
x = 0.6
x = 3.9   *   x   *   (  1   -   x  )
print(x)

0.9359999999999999

In [14]:
#Some more expressions
x = 5
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [14]:
#To know what kind of data a variable has use type
type(x)

int

In [15]:
type(name)

str

In [16]:
type(price)

float

In [15]:
# You can save the lines in a file
# either run on command prompt using python with the file
#or use run here
%run simpleexp.py

12

In [16]:
#Read from user
nam = input('Who are you?')
print ('Welcome', nam)

Who are you?sandeep
Welcome sandeep

In [17]:
#Convert to int
inp = input('Europe floor?')
usf = int(inp) + 1
print ('US floor', usf)

Europe floor?34
US floor 35

In [19]:
#Write a program to prompt the user for hours 
# and rate per hour to compute gross pay.
#Enter Hours: 35 
#Enter Rate: 2.75 
#Pay: 96.25
try:
    pay = float(input("Hours:")) * float(input("Pay:"))
    print(pay)
except:
    print("Wrong Input")

Hours:sasa
Wrong Input

In [4]:
# Comparison Operators
x = 5
if x == 5 : 
    print ('Equals 5')
if x > 4 : 
   print ('Greater than 4')
if  x >= 5 :
    print ('Greater than or Equals 5')
if x < 6 : 
    print ('Less than 6')
if x <= 5 :
    print ('Less than or Equals 5')
if x != 6 :
    print ('Not equal 6')

Equals 5
Greater than 4
Greater than or Equals 5
Less than 6
Less than or Equals 5
Not equal 6

In [23]:
#More conditional
x = 50
if x < 2 :
    print ('small')
elif x < 10 :
    print ('Medium')
else :
    print ('LARGE')
print ('All done')

LARGE
All done

In [6]:
'''
Rewrite your pay program using try and except so that your program handles non-numeric input gracefully.

Enter Hours: 20 
Enter Rate: nine 
Error, please enter numeric input

Enter Hours: forty  
Error, please enter numeric input
'''

'\nRewrite your pay program using try and except so that your program handles non-numeric input gracefully.\n\nEnter Hours: 20 \nEnter Rate: nine \nError, please enter numeric input\n\nEnter Hours: forty  \nError, please enter numeric input\n'

In [24]:
# This is how you define functions
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print (x)

8

'''
Rewrite your pay computation with time-and-a-half for overtime and create a function called computepay which takes two parameters ( hours and  rate).

Enter Hours: 45
Enter Rate: 10 
Pay: 475.0

'''

In [29]:
n = 5
while n > 0 :
    print (n)
    n = n - 1
print ('Blastoff!')
print (n)

5
4
3
2
1
Blastoff!
0

In [30]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print (line)
print ('Done!')

> sandeep
sandeep
> giri
giri
> python
python
> cloudxlab
cloudxlab
> done
Done!

In [32]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    while True:
        name = input("... ")
        if name == "":
            break
    print (line)
print ('Done!')

> sandeep
... s
... s
... s
...
sandeep
> giri
... s
...
giri
> done
Done!

In [33]:
while True:
    line = input('> ')
    if line[0] == '#' : 
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

> #sandeep
> done
Done!

In [34]:
x = [1,2,3, 4]

In [35]:
x

[1, 2, 3, 4]

In [36]:
type(x)

list

In [39]:
for countdown in [5, 4, 3, 2, 1]:
    n = countdown
    while n > 0:
        print(".")
        n = n - 1
    print(countdown)
print("Blastoff")

.
.
.
.
.
5
.
.
.
.
4
.
.
.
3
.
.
2
.
1
Blastoff

In [58]:
x = ["apple", "banana", "eggs"]
x[1] = "Banana"
x.append("cereal")
x.sort()
x.reverse()
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [41]:
print(x)

['apple', 'banana', 'eggs']

In [43]:
for item in ["apple", "banana", "eggs", 3, 4, 6.0]:
    print(item)
    print(type(item))

apple
<class 'str'>
banana
<class 'str'>
eggs
<class 'str'>
3
<class 'int'>
4
<class 'int'>
6.0
<class 'float'>

In [60]:
largest_so_far = -1
print ('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num > largest_so_far :
      largest_so_far = the_num
   print (largest_so_far, the_num)
print ('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [62]:
max([9, 41, 12, 3, 74, 15])

74

In [63]:
'''
You are given stock values in an array (365 values) of one year: 
[3, 1.5, 6, 7, 1] 

You can only buy once and then sell once.
You need to find the max profit you can make.

'''

'\nYou are given stock values in an array (365 values) of one year: \n[1, 3, 1.5, 6, 7 ...] \n\nYou can only buy once and then sell once.\nYou need to find the max profit you can make.\n\n'

In [64]:
count = 0
sum = 0
print ('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print (count, sum, value)
print ('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [65]:
x

['eggs', 'cereal', 'apple', 'Banana']

In [66]:
x.length

AttributeError: 'list' object has no attribute 'length'

In [67]:
x.length()

AttributeError: 'list' object has no attribute 'length'

In [68]:
len(x)

4

In [69]:
x = ''

In [70]:
x

''

In [71]:
x is None

False

In [77]:
x

''

In [78]:
smallest= None

In [74]:
smallest= None

In [75]:
smallest is None

True

In [79]:
smallest= None

In [80]:
'Hello' == "Hello"

True

In [81]:
"1" == 1

False

In [82]:
"1" + "1"

'11'

In [83]:
1 + 1

2

In [84]:
fruit = "Banana"

In [85]:
fruit

'Banana'

In [87]:
fruit[1]

'a'

In [102]:
for i in range(0,len(fruit)):
    print(fruit[i])

B
a
n
a
n
a

In [99]:
len(fruit)

6

In [103]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [105]:
import sys
sys.stdout.write('hi ')
sys.stdout.write('there ')

hi there

In [108]:
for i in range(1,2):
    print(i)

1

In [109]:
fruit

'Banana'

In [111]:
fruit[6]

IndexError: string index out of range

In [112]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print (index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [116]:
import sys
fruit = 'banana'
for letter in fruit: 
    sys.stdout.write (letter + "::")

b::a::n::a::n::a::

In [114]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
       count = count + 1
print (count)

3

In [117]:
s = "Monty Python"

In [118]:
s[0:]

'Monty Python'

In [119]:
s[1:2]

'o'

In [120]:
s = 'Monty Python'
print (s[0:4])
print (s[6:7])
print (s[6:20])

Mont
P
Python